@import 'vars';

.tile {
  position: relative;
  width: 64px;
  height: 64px;

  font-family: Lilita One, Impact, display;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;

  user-select: none;
  cursor: pointer;

  color: $wibble-primary;
  fill: $wibble-white;
}

.tileTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 10px;
  isolation: isolate;

  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  top: 0;
  z-index: 1;
}

.tileScoreContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;

  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  bottom: 0;

  font-size: 12px;
  line-height: 14px;

  p {
    width: 5px;
    height: 8px;
  }
}

.tileShapeContainer {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 0;
  top: 0;
  z-index: 0;
}

.squircle {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.ellipse {
  position: absolute;
  top: 44px;
  left: 44px;
  height: 20px;
  width: 20px;
  padding: 0;
}
