.tile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  font-size: 32px;
  border: 1px solid black;

  position: relative;

  user-select: none;
  cursor: pointer;
}

.tileScore {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;

  padding: 4px;

  position: absolute;
  right: 0px;
  bottom: 0px;

  font-size: 16px;
}

.tileSelected {
  @extend .tile;

  background-color: yellow;
}